
a{
  text-decoration: none;
  color:  grey;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}
header{
  background:#63c0f7;
}
header .header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-wrapper ul li{
  display: inline-block;
  margin: 0rem 1rem;
}

header .header-wrapper .logo {
  font-weight: 550;
  font-size: 22px;
}
.list{
  background: rgba(238, 238, 238, 0.548);
  padding: 1rem 2rem 2rem 2rem;
  margin: 2rem 0;
}

.label{
  background: green;
  width: 90px;
  height: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

}
.label p {
  padding: 0 ;
}

.accordion-header{
 height: 60px;
 padding-left: 1rem;
 background: rgb(228, 228, 228);
 display: flex;
 align-items: center;
 margin-bottom: 1rem;
 border: 1px solid #d6d6d6;
 transition: 0.5s;
}
